@tailwind base;
@tailwind components;

.rtl{
    direction: rtl;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@tailwind utilities;

/*@font-face {*/
/*    font-family: "dana";*/
/*    src: url("/fonts/eot/dana-fanum-black.eot") format("eot"),*/
/*    url("/fonts/ttf/dana-fanum-black.ttf") format("ttf"),*/
/*    url("/fonts/woff/dana-fanum-black.woff") format("woff"),*/
/*    url("/fonts/woff2/dana-fanum-black.woff2") format("woff2"),*/
/*}*/

/*@font-face {*/
/*    font-family: "dana-bold";*/
/*    src: url("/fonts/eot/dana-fanum-bold.eot") format("eot"),*/
/*    url("/fonts/ttf/dana-fanum-bold.ttf") format("ttf"),*/
/*    url("/fonts/woff/dana-fanum-bold.woff") format("woff"),*/
/*    url("/fonts/woff2/dana-fanum-bold.woff2") format("woff2"),*/
/*}*/

@font-face {
    font-family: 'Lobster';
    src: url(https://subkhoone.com/_next/static/media/dana-fanum-black.a754839aa0d94b5134488da842a446ef.woff2) format('woff2');
}

.navItem {
    @apply cursor-pointer mx-4 border-primary border-solid opacity-50
}

.navItem-active {
    @apply cursor-pointer mx-4 border-primary border-solid border-b-4 text-primary
}
