@tailwind base;
@tailwind components;

.rtl {
    direction: rtl;
}

.translateCenter {
    transform: translateX(50%);
}

.space-between{
    justify-content: space-between;
}

/* The Modal (background) */

.blur {
    backdrop-filter: blur(10px);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-width-1{
    width: 80%;
}
.modal-width-2{
    width: 60%;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -100px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -100px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gradient {
    background: transparent -webkit-linear-gradient(right, rgba(242, 244, 251, 0), #f2f4fb 53%, rgba(242, 244, 251, 0)) 0 0 no-repeat padding-box;
    background: transparent linear-gradient(270deg, rgba(242, 244, 251, 0), #f2f4fb 53%, rgba(242, 244, 251, 0)) 0 0 no-repeat padding-box;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@tailwind utilities;

@font-face {
    font-family: "dana";
    src: url("/fonts/ttf/dana-fanum-regular.ttf")
}

@font-face {
    font-family: "dana-black";
    src: url("/fonts/ttf/dana-fanum-black.ttf")
}

.dana {
    font-family: dana, serif;
}

.dana-black {
    font-family: dana-black, serif;
}

.navItem {
    @apply cursor-pointer mx-4 border-primary border-solid opacity-50
}

.navItem-active {
    @apply cursor-pointer mx-4 border-primary border-solid border-b-4 text-primary
}
