@tailwind base;
@tailwind components;

.rtl{
    direction: rtl;
}

/* The Modal (background) */
.modal {
    backdrop-filter: blur(10px);
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@tailwind utilities;

/*@font-face {*/
/*    font-family: "dana";*/
/*    src: url("/fonts/eot/dana-fanum-black.eot") format("eot"),*/
/*    url("/fonts/ttf/dana-fanum-black.ttf") format("ttf"),*/
/*    url("/fonts/woff/dana-fanum-black.woff") format("woff"),*/
/*    url("/fonts/woff2/dana-fanum-black.woff2") format("woff2"),*/
/*}*/

/*@font-face {*/
/*    font-family: "dana-bold";*/
/*    src: url("/fonts/eot/dana-fanum-bold.eot") format("eot"),*/
/*    url("/fonts/ttf/dana-fanum-bold.ttf") format("ttf"),*/
/*    url("/fonts/woff/dana-fanum-bold.woff") format("woff"),*/
/*    url("/fonts/woff2/dana-fanum-bold.woff2") format("woff2"),*/
/*}*/

@font-face {
    font-family: 'Lobster';
    src: url(https://subkhoone.com/_next/static/media/dana-fanum-black.a754839aa0d94b5134488da842a446ef.woff2) format('woff2');
}

.navItem {
    @apply cursor-pointer mx-4 border-primary border-solid opacity-50
}

.navItem-active {
    @apply cursor-pointer mx-4 border-primary border-solid border-b-4 text-primary
}
